In [56]:
import pandas as pd
import polars as pl

In [172]:
df=pd.read_csv('Power_consumption.csv')
dfpl=pl.read_csv('Power_consumption.csv')

In [174]:
df.head(20)

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption
0,1/01/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620
1,1/01/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354
2,1/01/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127
3,1/01/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076
4,1/01/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620
5,1/01/2017 0:50,5.853,76.9,0.081,0.059,0.108,26624.81013
6,1/01/2017 1:00,5.641,77.7,0.080,0.048,0.096,25998.98734
7,1/01/2017 1:10,5.496,78.2,0.085,0.055,0.093,25446.07595
8,1/01/2017 1:20,5.678,78.1,0.081,0.066,0.141,24777.72152
9,1/01/2017 1:30,5.491,77.3,0.082,0.062,0.111,24279.49367
10,1/01/2017 1:40,5.516,77.5,0.081,0.051,0.108,23896.70886
11,1/01/2017 1:50,5.471,76.7,0.083,0.059,0.126,23544.30380
12,1/01/2017 2:00,5.059,78.6,0.081,0.070,0.096,23003.54430
13,1/01/2017 2:10,4.968,78.8,0.084,0.070,0.134,22329.11392
14,1/01/2017 2:20,4.975,78.9,0.083,0.055,0.152,22092.15190
15,1/01/2017 2:30,4.897,79.1,0.083,0.070,0.096,21903.79747
16,1/01/2017 2:40,5.020,79.7,0.081,0.051,0.134,21685.06329
17,1/01/2017 2:50,5.407,78.5,0.082,0.062,0.163,21484.55696
18,1/01/2017 3:00,5.169,77.9,0.083,0.066,0.108,21107.84810
19,1/01/2017 3:10,5.081,77.7,0.084,0.051,0.130,20998.48101

In [176]:
df.shape

(52416, 7)

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Datetime             52416 non-null  object
 1   Temperature          52416 non-null  float64
 2   Humidity             52416 non-null  float64
 3   WindSpeed            52416 non-null  float64
 4   GeneralDiffuseFlows  52416 non-null  float64
 5   DiffuseFlows         52416 non-null  float64
 6   PowerConsumption     52416 non-null  float64
dtypes: float64(6), object(1)
memory usage: 2.8+ MB

In [196]:
dfpl.null_count()

shape: (1, 7)
┌──────────┬─────────────┬──────────┬───────────┬─────────────────┬──────────────┬─────────────────┐
│ Datetime ┆ Temperature ┆ Humidity ┆ WindSpeed ┆ GeneralDiffuseF ┆ DiffuseFlows ┆ PowerConsumptio │
│ ---      ┆ ---         ┆ ---      ┆ ---       ┆ lows            ┆ ---          ┆ n               │
│ u32      ┆ u32         ┆ u32      ┆ u32       ┆ ---             ┆ u32          ┆ ---             │
│          ┆             ┆          ┆           ┆ u32             ┆              ┆ u32             │
╞══════════╪═════════════╪══════════╪═══════════╪═════════════════╪══════════════╪═════════════════╡
│ 0        ┆ 0           ┆ 0        ┆ 0         ┆ 0               ┆ 0            ┆ 0               │
└──────────┴─────────────┴──────────┴───────────┴─────────────────┴──────────────┴─────────────────┘

In [198]:
df.dropna()

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption
0,1/01/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620
1,1/01/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354
2,1/01/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127
3,1/01/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076
4,1/01/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620
...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989

In [200]:
df.describe()

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption
count,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000
mean,18.810024,68.259518,1.959489,182.696614,75.028022,32344.970564
std,5.815476,15.551177,2.348862,264.400960,124.210949,7130.562564
min,3.247000,11.340000,0.050000,0.004000,0.011000,13895.696200
25%,14.410000,58.310000,0.078000,0.062000,0.122000,26310.668692
50%,18.780000,69.860000,0.086000,5.035500,4.456000,32265.920340
75%,22.890000,81.400000,4.915000,319.600000,101.000000,37309.018185
max,40.010000,94.800000,6.483000,1163.000000,936.000000,52204.395120

In [277]:
import seaborn as sns
sns.set(color_codes=True)

In [278]:
df2= pd.read_csv('housing_data.csv')
dfpl2= pl.read_csv('housing_data.csv')

In [305]:
df2.head(60)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200
5,-122.25,37.85,52,919,213.0,413,193,4.0368,NEAR BAY,269700
6,-122.25,37.84,52,2535,489.0,1094,514,3.6591,NEAR BAY,299200
7,-122.25,37.84,52,3104,687.0,1157,647,3.1200,NEAR BAY,241400
8,-122.26,37.84,42,2555,665.0,1206,595,2.0804,NEAR BAY,226700
9,-122.25,37.84,52,3549,707.0,1551,714,3.6912,NEAR BAY,261100
10,-122.26,37.85,52,2202,434.0,910,402,3.2031,NEAR BAY,281500
11,-122.26,37.85,52,3503,752.0,1504,734,3.2705,NEAR BAY,241800
12,-122.26,37.85,52,2491,474.0,1098,468,3.0750,NEAR BAY,213500
13,-122.26,37.84,52,696,191.0,345,174,2.6736,NEAR BAY,191300
14,-122.26,37.85,52,2643,626.0,1212,620,1.9167,NEAR BAY,159200
15,-122.26,37.85,50,1120,283.0,697,264,2.1250,NEAR BAY,140000
16,-122.27,37.85,52,1966,347.0,793,331,2.7750,NEAR BAY,152500
17,-122.27,37.85,52,1228,293.0,648,303,2.1202,NEAR BAY,155500
18,-122.26,37.84,50,2239,455.0,990,419,1.9911,NEAR BAY,158700
19,-122.27,37.84,52,1503,298.0,690,275,2.6033,NEAR BAY,162900
20,-122.27,37.85,40,751,184.0,409,166,1.3578,NEAR BAY,147500
21,-122.27,37.85,42,1639,367.0,929,366,1.7135,NEAR BAY,159800
22,-122.27,37.84,52,2436,541.0,1015,478,1.7250,NEAR BAY,113900
23,-122.27,37.84,52,1688,337.0,853,325,2.1806,NEAR BAY,99700
24,-122.27,37.84,52,2224,437.0,1006,422,2.6000,NEAR BAY,132600
25,-122.28,37.85,41,535,123.0,317,119,2.4038,NEAR BAY,107500
26,-122.28,37.85,49,1130,244.0,607,239,2.4597,NEAR BAY,93800
27,-122.28,37.85,52,1898,421.0,1102,397,1.8080,NEAR BAY,105500
28,-122.28,37.84,50,2082,492.0,1131,473,1.6424,NEAR BAY,108900
29,-122.28,37.84,52,729,160.0,395,155,1.6875,NEAR BAY,132000
30,-122.28,37.84,49,1916,447.0,863,378,1.9274,NEAR BAY,122300
31,-122.28,37.84,52,2153,481.0,1168,441,1.9615,NEAR BAY,115200
32,-122.27,37.84,48,1922,409.0,1026,335,1.7969,NEAR BAY,110400
33,-122.27,37.83,49,1655,366.0,754,329,1.3750,NEAR BAY,104900
34,-122.27,37.83,51,2665,574.0,1258,536,2.7303,NEAR BAY,109700
35,-122.27,37.83,49,1215,282.0,570,264,1.4861,NEAR BAY,97200
36,-122.27,37.83,48,1798,432.0,987,374,1.0972,NEAR BAY,104500
37,-122.28,37.83,52,1511,390.0,901,403,1.4103,NEAR BAY,103900
38,-122.26,37.83,52,1470,330.0,689,309,3.4800,NEAR BAY,191400
39,-122.26,37.83,52,2432,715.0,1377,696,2.5898,NEAR BAY,176000
40,-122.26,37.83,52,1665,419.0,946,395,2.0978,NEAR BAY,155400
41,-122.26,37.83,51,936,311.0,517,249,1.2852,NEAR BAY,150000
42,-122.26,37.84,49,713,202.0,462,189,1.0250,NEAR BAY,118800
43,-122.26,37.84,52,950,202.0,467,198,3.9643,NEAR BAY,188800
44,-122.26,37.83,52,1443,311.0,660,292,3.0125,NEAR BAY,184400
45,-122.26,37.83,52,1656,420.0,718,382,2.6768,NEAR BAY,182300
46,-122.26,37.83,50,1125,322.0,616,304,2.0260,NEAR BAY,142500
47,-122.27,37.82,43,1007,312.0,558,253,1.7348,NEAR BAY,137500
48,-122.26,37.82,40,624,195.0,423,160,0.9506,NEAR BAY,187500
49,-122.27,37.82,40,946,375.0,700,352,1.7750,NEAR BAY,112500
50,-122.27,37.82,21,896,453.0,735,438,0.9218,NEAR BAY,171900
51,-122.27,37.82,43,1868,456.0,1061,407,1.5045,NEAR BAY,93800
52,-122.27,37.82,41,3221,853.0,1959,720,1.1108,NEAR BAY,97500
53,-122.27,37.82,52,1630,456.0,1162,400,1.2475,NEAR BAY,104200
54,-122.28,37.82,52,1170,235.0,701,233,1.6098,NEAR BAY,87500
55,-122.28,37.82,52,945,243.0,576,220,1.4113,NEAR BAY,83100
56,-122.28,37.82,52,1238,288.0,622,259,1.5057,NEAR BAY,87500
57,-122.28,37.82,52,1489,335.0,728,244,0.8172,NEAR BAY,85300
58,-122.28,37.82,52,1387,341.0,1074,304,1.2171,NEAR BAY,80300
59,-122.29,37.82,2,158,43.0,94,57,2.5625,NEAR BAY,60000

In [280]:
df2.shape

(20640, 10)

In [281]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
 9   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [287]:
dfpl2.null_count()

shape: (1, 10)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ longitude ┆ latitude ┆ housing_m ┆ total_roo ┆ … ┆ household ┆ median_in ┆ ocean_pro ┆ median_ho │
│ ---       ┆ ---      ┆ edian_age ┆ ms        ┆   ┆ s         ┆ come      ┆ ximity    ┆ use_value │
│ u32       ┆ u32      ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│           ┆          ┆ u32       ┆ u32       ┆   ┆ u32       ┆ u32       ┆ u32       ┆ u32       │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 0         ┆ 0        ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 0         │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [289]:
df2.dropna()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND,78100
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND,77100
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND,92300
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND,84700
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND,89400

In [291]:
dfpl2.group_by('ocean_proximity').len().with_columns((pl.col('len')/pl.sum('len')).alias('percentage'))

shape: (5, 3)
┌─────────────────┬──────┬────────────┐
│ ocean_proximity ┆ len  ┆ percentage │
│ ---             ┆ ---  ┆ ---        │
│ str             ┆ u32  ┆ f64        │
╞═════════════════╪══════╪════════════╡
│ <1H OCEAN       ┆ 9136 ┆ 0.442636   │
│ INLAND          ┆ 6551 ┆ 0.317393   │
│ ISLAND          ┆ 5    ┆ 0.000242   │
│ NEAR BAY        ┆ 2290 ┆ 0.11095    │
│ NEAR OCEAN      ┆ 2658 ┆ 0.128779   │
└─────────────────┴──────┴────────────┘

In [267]:
df2.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [269]:
df3= pd.read_csv('weather_data.csv')
dfpl3= pl.read_csv('weather_data.csv')

In [271]:
df3.head(20)

,Date/Time,Temp,Hum_%,Wind Speed_km/h,Visibility_km,Pressure_kPa,Weather
0,1/01/2012 0:00,-1.8,86,4,8.0,101.24,Fog
1,1/01/2012 1:00,-1.8,87,4,8.0,101.24,Fog
2,1/01/2012 2:00,-1.8,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/01/2012 3:00,-1.5,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/01/2012 4:00,-1.5,88,7,4.8,101.23,Fog
5,1/01/2012 5:00,-1.4,87,9,6.4,101.27,Fog
6,1/01/2012 6:00,-1.5,89,7,6.4,101.29,Fog
7,1/01/2012 7:00,-1.4,85,7,8.0,101.26,Fog
8,1/01/2012 8:00,-1.4,85,9,8.0,101.23,Fog
9,1/01/2012 9:00,-1.3,88,15,4.0,101.20,Fog
10,1/01/2012 10:00,-1.0,91,9,1.2,101.15,Fog
11,1/01/2012 11:00,-0.5,89,7,4.0,100.98,Fog
12,1/01/2012 12:00,-0.2,88,9,4.8,100.79,Fog
13,1/01/2012 13:00,0.2,87,13,4.8,100.58,Fog
14,1/01/2012 14:00,0.8,87,20,4.8,100.31,Fog
15,1/01/2012 15:00,1.8,85,22,6.4,100.07,Fog
16,1/01/2012 16:00,2.6,82,13,12.9,99.93,Mostly Cloudy
17,1/01/2012 17:00,3.0,81,13,16.1,99.81,Cloudy
18,1/01/2012 18:00,3.8,82,15,12.9,99.74,Rain
19,1/01/2012 19:00,3.1,88,15,12.9,99.68,Rain

In [164]:
df3.shape

(8784, 7)

In [166]:
df3.dropna()

,Date/Time,Temp,Hum_%,Wind Speed_km/h,Visibility_km,Pressure_kPa,Weather
0,1/01/2012 0:00,-1.8,86,4,8.0,101.24,Fog
1,1/01/2012 1:00,-1.8,87,4,8.0,101.24,Fog
2,1/01/2012 2:00,-1.8,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/01/2012 3:00,-1.5,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/01/2012 4:00,-1.5,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,86,30,11.3,99.89,Snow

In [168]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date/Time        8784 non-null   object
 1   Temp             8784 non-null   float64
 2   Hum_%            8784 non-null   int64
 3   Wind Speed_km/h  8784 non-null   int64
 4   Visibility_km    8784 non-null   float64
 5   Pressure_kPa     8784 non-null   float64
 6   Weather          8784 non-null   object
dtypes: float64(3), int64(2), object(2)
memory usage: 480.5+ KB

In [273]:
dfpl3.group_by('Weather').len().with_columns((pl.col('len')/pl.sum('len')).alias('percentage'))

shape: (50, 3)
┌─────────────────────────────────┬─────┬────────────┐
│ Weather                         ┆ len ┆ percentage │
│ ---                             ┆ --- ┆ ---        │
│ str                             ┆ u32 ┆ f64        │
╞═════════════════════════════════╪═════╪════════════╡
│ Thunderstorms,Moderate Rain Sh… ┆ 1   ┆ 0.000114   │
│ Snow Showers,Fog                ┆ 4   ┆ 0.000455   │
│ Snow Showers                    ┆ 60  ┆ 0.006831   │
│ Rain,Haze                       ┆ 3   ┆ 0.000342   │
│ Haze                            ┆ 16  ┆ 0.001821   │
│ …                               ┆ …   ┆ …          │
│ Thunderstorms,Rain Showers,Fog  ┆ 3   ┆ 0.000342   │
│ Snow Pellets                    ┆ 1   ┆ 0.000114   │
│ Drizzle,Ice Pellets,Fog         ┆ 1   ┆ 0.000114   │
│ Rain,Snow Grains                ┆ 1   ┆ 0.000114   │
│ Freezing Rain                   ┆ 14  ┆ 0.001594   │
└─────────────────────────────────┴─────┴────────────┘

In [170]:
df3.describe()

              Temp        Hum_%  Wind Speed_km/h  Visibility_km  Pressure_kPa
count  8784.000000  8784.000000      8784.000000    8784.000000   8784.000000
mean      8.798144    67.431694        14.945469      27.664447    101.051623
std      11.687883    16.918881         8.688696      12.622688      0.844005
min     -23.300000    18.000000         0.000000       0.200000     97.520000
25%       0.100000    56.000000         9.000000      24.100000    100.560000
50%       9.300000    68.000000        13.000000      25.000000    101.070000
75%      18.800000    81.000000        20.000000      25.000000    101.590000
max      33.000000   100.000000        83.000000      48.300000    103.650000